.sidebar {
  @apply fixed top-0 right-4 w-16 h-full flex justify-center items-center;
}
.sidebar__box {
  @apply w-full h-auto flex flex-col items-center justify-center gap-2 md:gap-8 py-8 bg-accent rounded-lg;
}

.sidebar__nav__link {
  @apply cursor-pointer text-surface text-base p-3 transition-all duration-300 ease-in-out;
}
.sidebar__nav__link:hover,
.active {
  @apply bg-hover rounded-lg transition-all duration-300 ease-in-out;
}

/* ===== ==================== ===== */
/* ===== Responsicve sidebar css ===== */
/* ===== ==================== ===== */
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: auto;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: auto;
    height: 36px;
  }
  .sidebar__box {
    flex-direction: row;
    padding: 1rem;
    border-radius: 0;
  }
}
