/* ===== google fonts url cdn ===== */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ===== tailwind css ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== ========= ===== */
/* ===== Variables ===== */
/* ===== ========= ===== */
:root {
  /* ===== colors ===== */
  /* color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(231, 69%, 60%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --white-color: hsl(0, 0%, 100%);

  /* ===== fonts & typography ===== */
  /* .5rem = 8px | 1rem = 16px | 1.5rem = 24px */
  --font-body: "Rubik", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;

  /* ===== fonts weight ===== */
  --font-light: 300;
  --font-normal: 500;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;

  /* ===== box shadow ===== */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /* ===== border radius ===== */
  --radius: 15px;

  /* ===== transition ===== */
  --transition: all 0.4s ease;
}

/* ===== =========== ===== */
/* ===== Base styles ===== */
/* ===== =========== ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--font-body);
  font-size: var(--font-size);
}

body {
  font-optical-sizing: auto;
  background-color: var(--body-color);
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ===== ==================== ===== */
/* ===== reusable css classes ===== */
/* ===== ==================== ===== */
.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-left: 0.875rem;
  margin-bottom: 3.75rem;
  position: relative;
}

.section__title::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--first-color);
  border-radius: 50%;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  cursor: pointer;
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: var(--shadow);
  color: var(--white-color);
  border: 1px solid transparent;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.btn:hover {
  animation: button-push 0.3s linear 1;
  color: var();
}
